<ion-content>
<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

    <ion-tab-bar slot="bottom" selected-tab="1">
      <ion-tab-button tab="profile">
          <ion-img src="assets/icon/profil.png"></ion-img>
        <ion-label>Profil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="produit">
          <ion-img src="assets/icon/bol-de-fruits.png"></ion-img>
        <ion-label>Produit</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="panier">
          <ion-img src="assets/icon/shopping-cart-1.png"></ion-img>
        <ion-label>Panier</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="historique">
          <ion-img src="assets/icon/history-1.png"></ion-img>
        <ion-label>Historique</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
